################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/testHistory/v15/Server/sqlite3/storage.ide-wal
